{{ template "headHTML" }}
    <main>
      {{ template "headerHTML" }}
        <div class="form-body-container">
          <div class="form-box-container">
            <div class="form-title-container">
              <p class="form-title">Log in</p>
            </div>
              <form action="/author/login" method="POST">
                <div class="form-form-container">
                  <div class="form-inputs-container">
                    <div class="form-input-container">
                      <label>Username:</label>
                      <input class="form-text-input" type="text" name="username" placeholder="Insert your username...">
                    </div>
                    <div class="form-input-container">
                      <label>Password:</label>
                      <input class="form-text-input" type="password" name="password" placeholder="Insert your password...">
                    </div>
                  </div>
                  <div class="form-submit-button-container">
                    <input class="form-submit-button" type="submit" value="Log in">
                  </div>
                  <div class="form-alternative-button-container">
                    <a class="form-alternative-button" href="/author/register">Don't have an account yet? Click here to register.</a>
                  </div>
                </div>
              </form>
          </div>
        </div>
	</main>
  </body>
</html>
