{{ template "headHTML" }}
    <main>
      {{ template "headerHTML" }}
        <div class="form-body-container">
          <div class="form-box-container">
            <div class="form-title-container">
              <p class="form-title">Register</p>
            </div>
            <form action="/author/register-process" method="POST">
              <div class="form-form-container">
                <div class="form-inputs-container">
                  <div class="form-input-container">
                    <label for="usr">Username:</label> 
                    <input class="form-text-input" type="text" name="username" id="usr">
                  </div>
                  <div class="form-input-container">
                    <label for="eml">Email:</label>
                    <input class="form-text-input" type="text" name="email" id="eml">
                  </div>
                  <div class="form-input-container">
                    <label for="pwd">Password:</label>
                    <input class="form-text-input" type="password" name="password" id="pwd">
                  </div>
                </div>
                <div class="form-submit-button-container">
                  <input class="form-submit-button" type="submit">
                </div>
                <div class="form-alternative-button-container">
                  <a class="form-alternative-button" href="/author/">Already registered? Click here to log in.</a>
                </div>
              </div>
            </form>
          </div>
        </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>
