{{ template "headHTML" }}
    <main>
      {{ template "headerHTML" . }}
        <div class="form-body-container">
          <div class="form-box-container">
            <div class="form-title-container">
              <p class="form-title">Ask a Question</p>
            </div>
            <form action="/author/question" method="POST">
              <div class="form-form-container">
                <div class="form-inputs-container">
                  <div class="form-input-container">
                    <label>Title:</label>
                    <input class="form-text-input" type="text" name="title"> <br>
                  </div>
                  <div class="form-input-container">
                    <label>Description:</label>
                    <textarea class="form-description-input" type="text" name="description" rows="7"></textarea>
                  </div>
                  <div class="form-select-container">
                    <select name="categories">
                      {{ range $i, $c := .Categories }}              
                      <option value="{{ $c.Name }}">{{ $c.Name }}</option>
                      {{ end }}
                    </select>
                  </div>
                </div>
                <div class="form-submit-button-container">
                  <input class="form-submit-button" type="submit" value="Post Question">
                </div>
              </div>
            </form>
        </div>
        </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>

