{{ define "headerHTML"}}

<div class="header-container">
    <div class="header-title-container">
        <a class="header-title" href="/">Página inicial</a>
    </div>
    {{ if .Logged }}
        <div class="header-user-info-container">
            <p class="header-username" onclick="toggleMenu()">{{ .User.Username }}</p>
        </div>

        <div class="sub-menu-container" id="subMenu">
            <div class="sub-menu">
                <div class="sub-menu-user-info">
                    <p>{{ .User.FirstName }} {{ .User.LastName }}</p>
                </div>
                <a href="/user/{{ .User.ID }}" class="sub-menu-link">
                    <p>Acess Profile</p>
                    <span>></span>
                </a>   
                <a href="/delete-session" class="sub-menu-link">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div> 
        </div>
    {{ else }}
        <div class="header-buttons-container">
            <div class="header-button-container header-register-button-container">
            	<a class="header-button" href="/author/register">Register</a> <br>
            </div>
            <div class="header-button-container header-login-button-container">
                <a class="header-button" href="/author/">Log in</a><br>
            </div>
        </div>
    {{ end }}
</div>
{{ end }}
