{{template "headHTML"}}
  <body>
    <main>
      {{ template "headerHTML" .}}
        <div class="body-header-container">
          <div class="body-header-title-container">
            <p class="body-header-title">Recent Questions</p>
          </div>
          {{ if .Logged }}
            <div class="button">
              <a href="/author/ask">Ask Question</a>
            </div>
          {{ else }}
            <div class="button">
              <a href="/author/">Ask Question</a>
            </div>
          {{ end }}
        </div>

        <div class="questions-container">
          {{ range $i, $q := .Questions }}
          <div class="question-container">
            <div class="question-info-top">
              <div class="question-title-container">
                <a class="question-title" href="/question/{{ $q.ID }}">{{ $q.Title }}</a>
              </div>
              <div class="question-subinfo-container">
                <div class="question-author-info-container">
                  <p class="question-author-name">{{ $q.Author.FirstName }} {{ $q.Author.LastName }}</p>
                </div>
                <div class="question-category-info-container">
                  <p class="question-category-name">{{ $q.Category.Name }}</p>
                </div>
              </div>
            </div>
            <div class="question-description">
              <p>{{ $q.Description }}</p> 
            </div>
          </div>
          {{ end }}
        </div>
    </main>
	<script src="/web/static/js/index.js"></script>
  </body>
</html>

