<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="web/static/css/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
		<h1> Create Question </h1>
		<form action="/author/question" method="POST">
			Titulo:<input type="text" name="title"> <br>
            Descrição:<input type="text" name="description"> <br>
            <input type="submit" value="perguntar">
		</form>
    </main>
	<script src="index.js"></script>
  </body>
</html>

