* {
	padding: 0;
	margin: 0;
}

a{
	font-family: Arial, Helvetica, sans-serif;
}

.header-container{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding-block: 10px;
	padding-inline: 10%;
	background-color: #03181c;
}

.header-content-container{
	margin-inline: 10%;
}

.header-username{
	color: white;
}

.header-title {
	color: white;
	text-decoration: none;
	font-size: 32px;
}

.header-buttons-container{
	display: flex;
	gap: 10px;
}

.header-button-container{
	border-radius: 3px;
	padding: 10px 10px;
}

.header-register-button-container{
	background-color:#f2f2f2;
	transition: 100ms;
}
.header-register-button-container:hover{
	background-color:#c7c9c8;
}

.header-login-button-container{
	background-color: #15cf49;
	transition: 100ms;
}
.header-login-button-container a{
	color: white;
	font-weight: bold;
}
.header-login-button-container:hover{
	background-color:#0e8730;
}
.header-button {
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.body-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 20px 10px;
	margin-inline: 10%;
}

.body-header-title{
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.buttons {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.register-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.questions-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.question-container{
	display: flex;
	flex-direction:column;
	border: 1px solid #dcdfe0;
	border-radius: 5px;
	padding-inline: 10px;
	padding-block: 5px;
	width: 100%;
	max-width: 80%;
	transition: 200ms;
}

.question-container:hover{
	transform: scale(1.005);
}

.question-title{
	font-size: 25px;
	text-decoration: none;
	color: black;
	transition: 250ms;
}

.question-title:hover{
	color: blue;
}

.question-subinfo-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.question-category-info-container{
	padding: 2.5px 5px;
	font-size: 12px;
	background-color:#32db43;
	border-radius: 3px;
}

.question-info-top {
	margin-bottom: 10px;
}

.button {
	border-radius: 3px;
	padding: 10px 10px;
	background-color: #15cf49;
	transition: 100ms;
}

.button:hover{
	background-color: #0e8730;
}

.button a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.form-body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin-top: 50px;
}

.form-box-container{
	display: flex;
	flex-direction: column;
	border: 1px solid #dcdfe0;
	border-radius: 3px;
	padding: 10px;
	gap: 15px;
}

.form-title{
	font-size: 20px;
	font-weight: bold;
}

.form-input-container {
	display: flex;
	flex-direction: column;
	padding-block: 5px;
}

.form-text-input{
	width: 500px;
	height: 30px;
	margin-top: 5px;
	border: 1px solid #dcdfe0;
	border-radius: 3px;
	padding-inline: 4px;
}

.form-submit-button{
	border: none;
	border-radius: 3px;
	width: 510px;
	height: 34px;
	background-color: #03181c;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.form-submit-button:hover{
	background-color: #234e57;
}

.form-form-container{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-description-input{
	width: 500px;
	margin-top: 5px;
	border: 1px solid #dcdfe0;
	border-radius: 3px;
	padding-inline: 4px;
}

.form-alternative-button{
	text-decoration: none;
	color: #090e94;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	transition: 200ms;
}

.form-alternative-button:hover{
	color: #0091ff;
}

.question-info-body-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.question-info-container{
	display: flex;
	flex-direction: column;
	border: 1px solid #dcdfe0;
	border-radius: 3px;
	width: 70%;
	padding: 15px;
	margin: 30px;
	gap: 10px;
}

.question-info-title {
	font-size: 30px;
	font-weight:600;
	font-style: Arial;
}

.question-info-description {
	font-size: 16px;
}
